<!-- Sidebar -->
<ul class="nav-bar">
  <!-- Sidebar - Logo -->
  <div class="navbar-title-pic"></div>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Home -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']">
      <i class="pi pi-home mx-2"></i>
      <span>Home</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Equipa -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/team']">
      <i class="pi pi-users mx-2"></i>
      <span>Equipa</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Simulador -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/simulator']">
      <i class="pi pi-desktop mx-2"></i>
      <span>Simulador</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Simulações -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/simulations']">
      <i class="pi pi-user-edit mx-2"></i>
      <span>Simulações</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Admin -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin']">
      <i class="pi pi-user-edit mx-2"></i>
      <span>Admin</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler - Sidebar -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
