:host {
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
}

#topbar {
  /* height: 50px; */
}

#hero {
  flex-grow: 1;
  /* display: flex; */
  /* flex: 1 0 auto; */
}

@media (min-width: 700px) {
  :host {
    /* font-size: 80%; */
    /* max-width: 1100px; */
  }
}
