<nav class="navbar bg-white">
  <!-- Sidebar Toggle (Topbar) -->
  <button class="btn btn-link rounded-circle mr-3">
    <i class="pi pi-bars"></i>
  </button>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="userDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="mr-2 d-lg-inline text-gray-600 small">Pedro Morais</span>
        <img
          class="rounded-circle"
          width="25px"
          height="25px"
          src="https://avatars2.githubusercontent.com/u/17129198?v=4"
        />
      </a>
    </li>
  </ul>
</nav>
